In [3]:
#Import dependencies.
import pandas as pd
from pathlib import Path

In [4]:
#Set up the file paths
school_path=Path("Resources/schools_complete.csv")
student_path=Path("Resources/students_complete.csv")

In [5]:
#Read in files
school_df=pd.read_csv(school_path)
student_df=pd.read_csv(student_path)
student_df.head()
school_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [6]:
#Merge the two datasets. Figure out if left or right or outer merge is best
school_stats=pd.merge(school_df,student_df, on="school_name", how="left")
school_stats["budget"]=school_stats['budget'].astype(float)
school_stats.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635.0,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635.0,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635.0,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635.0,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635.0,4,Bonnie Ray,F,9th,97,84

In [7]:
school_stats["school_name"].unique()
school_stats["student_name"].unique()
school_stats["school_name"].unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [8]:
#Set up variables to store: total school budget, total students, per student budget, average math score, average reading score, %passing math, %passing reading,%overall passing(math and reading)
individual_school_budget=school_stats["budget"].unique()
total_district_budget=individual_school_budget.sum()
total_students=school_stats["student_name"].count()
total_schools=len(school_stats["school_name"].unique())
print('Total District Budget: ',total_district_budget)
print('Total Number of Students: ',total_students)
print('Total Number of Schools: ',total_schools)

Total District Budget:  24649428.0
Total Number of Students:  39170
Total Number of Schools:  15

In [9]:
#sum of math scores divided by the number of students, but might need to check if there are blank values.
math_average=(school_stats["math_score"].sum())/total_students
math_average

78.98537145774827

In [10]:
reading_average=(school_stats["reading_score"].sum())/(total_students)
reading_average

81.87784018381414

In [11]:
#Passing math score is 70%
passing_math=school_stats[(school_stats["math_score"]>=70)].count()["student_name"]
passing_math
passing_math_percent=(passing_math/float(total_students))*100
passing_math_percent

74.9808526933878

In [12]:
passing_reading=school_stats[(school_stats["reading_score"]>=70)].count()["student_name"]
passing_reading_percent=(passing_reading/float(total_students))*100
passing_reading_percent

85.80546336482001

In [13]:
passing_math_reading_count=school_stats[(school_stats['math_score']>=70)&(school_stats['reading_score']>=70)].count()["student_name"]
passing_math_reading_count
passing_math_reading_percent=(passing_math_reading_count/float(total_students))*100
passing_math_reading_percent

65.17232575950983

In [14]:
district_summary=pd.DataFrame([{"Total Number of Schools":total_schools,"Total Students":total_students,"Total Budget":total_district_budget,"Average Math Score":math_average,"Average Reading Score":reading_average,"% Passing Math":passing_math_percent,"% Passing Reading":passing_reading_percent,"Overall Passing":passing_math_reading_percent}])
district_summary["Total Students"]=district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"]=district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"]=district_summary["Average Math Score"].map("{:,.2f}%".format)
district_summary["Average Reading Score"]=district_summary["Average Reading Score"].map("{:,.2f}%".format)
district_summary["% Passing Math"]=district_summary["% Passing Math"].map("{:,.2f}%".format)
district_summary["% Passing Reading"]=district_summary["% Passing Reading"].map("{:,.2f}%".format)
district_summary["Overall Passing"]=district_summary["Overall Passing"].map("{:,.2f}%".format)
district_summary

,Total Number of Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing
0,15,"39,170","$24,649,428.00",78.99%,81.88%,74.98%,85.81%,65.17%

In [15]:
#On to the school part
first_school=school_stats.loc[school_stats["school_name"]==school_df["school_name"][0],:]
first_school
first_total_students=len(first_school['student_name'])
first_student_budget=float((first_school["budget"].mean())/first_total_students)
first_math_average=(first_school["math_score"].sum())/first_total_students
first_reading_average=(first_school["reading_score"].sum())/(first_total_students)
first_passing_math=first_school[(first_school["math_score"]>=70)].count()["student_name"]
first_passing_math_percent=(first_passing_math/float(first_total_students))*100
first_passing_reading=first_school[(first_school["reading_score"]>=70)].count()["student_name"]
first_passing_reading_percent=(first_passing_reading/float(first_total_students))*100
first_overall_count=first_school[(first_school['math_score']>=70)&(first_school['reading_score']>=70)].count()["student_name"]
first_overall_percent=(first_overall_count/float(first_total_students))*100

In [16]:
second_school=school_stats.loc[school_stats["school_name"]==school_df["school_name"][1],:]
second_school
second_total_students=len(second_school['student_name'])
second_student_budget=float((second_school["budget"].mean())/second_total_students)
second_math_average=(second_school["math_score"].sum())/second_total_students
second_reading_average=(second_school["reading_score"].sum())/(second_total_students)
second_passing_math=second_school[(second_school["math_score"]>=70)].count()["student_name"]
second_passing_math_percent=(second_passing_math/float(second_total_students))*100
second_passing_reading=second_school[(second_school["reading_score"]>=70)].count()["student_name"]
second_passing_reading_percent=(second_passing_reading/float(second_total_students))*100
second_overall_count=second_school[(second_school['math_score']>=70)&(second_school['reading_score']>=70)].count()["student_name"]
second_overall_percent=(second_overall_count/float(second_total_students))*100

In [17]:
third_school=school_stats.loc[school_stats["school_name"]==school_df["school_name"][2],:]
third_school
third_total_students=len(third_school['student_name'])
third_student_budget=float((third_school["budget"].mean())/third_total_students)
third_math_average=(third_school["math_score"].sum())/third_total_students
third_reading_average=(third_school["reading_score"].sum())/(third_total_students)
third_passing_math=third_school[(third_school["math_score"]>=70)].count()["student_name"]
third_passing_math_percent=(third_passing_math/float(third_total_students))*100
third_passing_reading=third_school[(third_school["reading_score"]>=70)].count()["student_name"]
third_passing_reading_percent=(third_passing_reading/float(third_total_students))*100
third_overall_count=third_school[(third_school['math_score']>=70)&(third_school['reading_score']>=70)].count()["student_name"]
third_overall_percent=(third_overall_count/float(third_total_students))*100

In [18]:
fourth_school=school_stats.loc[school_stats["school_name"]==school_df["school_name"][3],:]
fourth_school
fourth_total_students=len(fourth_school['student_name'])
fourth_student_budget=float((fourth_school["budget"].mean())/fourth_total_students)
fourth_math_average=(fourth_school["math_score"].sum())/fourth_total_students
fourth_reading_average=(fourth_school["reading_score"].sum())/(fourth_total_students)
fourth_passing_math=fourth_school[(fourth_school["math_score"]>=70)].count()["student_name"]
fourth_passing_math_percent=(fourth_passing_math/float(fourth_total_students))*100
fourth_passing_reading=fourth_school[(fourth_school["reading_score"]>=70)].count()["student_name"]
fourth_passing_reading_percent=(fourth_passing_reading/float(fourth_total_students))*100
fourth_overall_count=fourth_school[(fourth_school['math_score']>=70)&(fourth_school['reading_score']>=70)].count()["student_name"]
fourth_overall_percent=(fourth_overall_count/float(fourth_total_students))*100

In [19]:
fifth_school=school_stats.loc[school_stats["school_name"]==school_df["school_name"][4],:]
fifth_school
fifth_total_students=len(fifth_school['student_name'])
fifth_student_budget=float((fifth_school["budget"].mean())/fifth_total_students)
fifth_math_average=(fifth_school["math_score"].sum())/fifth_total_students
fifth_reading_average=(fifth_school["reading_score"].sum())/(fifth_total_students)
fifth_passing_math=fifth_school[(fifth_school["math_score"]>=70)].count()["student_name"]
fifth_passing_math_percent=(fifth_passing_math/float(fifth_total_students))*100
fifth_passing_reading=fifth_school[(fifth_school["reading_score"]>=70)].count()["student_name"]
fifth_passing_reading_percent=(fifth_passing_reading/float(fifth_total_students))*100
fifth_overall_count=fifth_school[(fifth_school['math_score']>=70)&(fifth_school['reading_score']>=70)].count()["student_name"]
fifth_overall_percent=(fifth_overall_count/float(fifth_total_students))*100

In [20]:
sixth_school=school_stats.loc[school_stats["school_name"]==school_df["school_name"][5],:]
sixth_school
sixth_total_students=len(sixth_school['student_name'])
sixth_student_budget=float((sixth_school["budget"].mean())/sixth_total_students)
sixth_math_average=(sixth_school["math_score"].sum())/sixth_total_students
sixth_reading_average=(sixth_school["reading_score"].sum())/(sixth_total_students)
sixth_passing_math=sixth_school[(sixth_school["math_score"]>=70)].count()["student_name"]
sixth_passing_math_percent=(sixth_passing_math/float(sixth_total_students))*100
sixth_passing_reading=sixth_school[(sixth_school["reading_score"]>=70)].count()["student_name"]
sixth_passing_reading_percent=(sixth_passing_reading/float(sixth_total_students))*100
sixth_overall_count=sixth_school[(sixth_school['math_score']>=70)&(sixth_school['reading_score']>=70)].count()["student_name"]
sixth_overall_percent=(sixth_overall_count/float(sixth_total_students))*100

In [21]:
seventh_school=school_stats.loc[school_stats["school_name"]==school_df["school_name"][6],:]
seventh_school
seventh_total_students=len(seventh_school['student_name'])
seventh_student_budget=float((seventh_school["budget"].mean())/seventh_total_students)
seventh_math_average=(seventh_school["math_score"].sum())/seventh_total_students
seventh_reading_average=(seventh_school["reading_score"].sum())/(seventh_total_students)
seventh_passing_math=seventh_school[(seventh_school["math_score"]>=70)].count()["student_name"]
seventh_passing_math_percent=(seventh_passing_math/float(seventh_total_students))*100
seventh_passing_reading=seventh_school[(seventh_school["reading_score"]>=70)].count()["student_name"]
seventh_passing_reading_percent=(seventh_passing_reading/float(seventh_total_students))*100
seventh_overall_count=seventh_school[(seventh_school['math_score']>=70)&(seventh_school['reading_score']>=70)].count()["student_name"]
seventh_overall_percent=(seventh_overall_count/float(seventh_total_students))*100

In [22]:
eighth_school=school_stats.loc[school_stats["school_name"]==school_df["school_name"][7],:]
eighth_school
eighth_total_students=len(eighth_school['student_name'])
eighth_student_budget=float((eighth_school["budget"].mean())/eighth_total_students)
eighth_math_average=(eighth_school["math_score"].sum())/eighth_total_students
eighth_reading_average=(eighth_school["reading_score"].sum())/(eighth_total_students)
eighth_passing_math=eighth_school[(eighth_school["math_score"]>=70)].count()["student_name"]
eighth_passing_math_percent=(eighth_passing_math/float(eighth_total_students))*100
eighth_passing_reading=eighth_school[(eighth_school["reading_score"]>=70)].count()["student_name"]
eighth_passing_reading_percent=(eighth_passing_reading/float(eighth_total_students))*100
eighth_overall_count=eighth_school[(eighth_school['math_score']>=70)&(eighth_school['reading_score']>=70)].count()["student_name"]
eighth_overall_percent=(eighth_overall_count/float(eighth_total_students))*100

In [23]:
ninth_school=school_stats.loc[school_stats["school_name"]==school_df["school_name"][8],:]
ninth_school
ninth_total_students=len(ninth_school['student_name'])
ninth_student_budget=float((ninth_school["budget"].mean())/ninth_total_students)
ninth_math_average=(ninth_school["math_score"].sum())/ninth_total_students
ninth_reading_average=(ninth_school["reading_score"].sum())/(ninth_total_students)
ninth_passing_math=ninth_school[(ninth_school["math_score"]>=70)].count()["student_name"]
ninth_passing_math_percent=(ninth_passing_math/float(ninth_total_students))*100
ninth_passing_reading=ninth_school[(ninth_school["reading_score"]>=70)].count()["student_name"]
ninth_passing_reading_percent=(ninth_passing_reading/float(ninth_total_students))*100
ninth_overall_count=ninth_school[(ninth_school['math_score']>=70)&(ninth_school['reading_score']>=70)].count()["student_name"]
ninth_overall_percent=(ninth_overall_count/float(ninth_total_students))*100

In [24]:
tenth_school=school_stats.loc[school_stats["school_name"]==school_df["school_name"][9],:]
tenth_school
tenth_total_students=len(tenth_school['student_name'])
tenth_student_budget=float(tenth_school["budget"].mean()/tenth_total_students)
tenth_math_average=(tenth_school["math_score"].sum())/tenth_total_students
tenth_reading_average=(tenth_school["reading_score"].sum())/(tenth_total_students)
tenth_passing_math=tenth_school[(tenth_school["math_score"]>=70)].count()["student_name"]
tenth_passing_math_percent=(tenth_passing_math/float(tenth_total_students))*100
tenth_passing_reading=tenth_school[(tenth_school["reading_score"]>=70)].count()["student_name"]
tenth_passing_reading_percent=(tenth_passing_reading/float(tenth_total_students))*100
tenth_overall_count=tenth_school[(tenth_school['math_score']>=70)&(tenth_school['reading_score']>=70)].count()["student_name"]
tenth_overall_percent=(tenth_overall_count/float(tenth_total_students))*100

In [25]:
eleventh_school=school_stats.loc[school_stats["school_name"]==school_df["school_name"][10],:]
eleventh_school
eleventh_total_students=len(eleventh_school['student_name'])
eleventh_student_budget=float((eleventh_school["budget"].mean())/eleventh_total_students)
eleventh_math_average=(eleventh_school["math_score"].sum())/eleventh_total_students
eleventh_reading_average=(eleventh_school["reading_score"].sum())/(eleventh_total_students)
eleventh_passing_math=eleventh_school[(eleventh_school["math_score"]>=70)].count()["student_name"]
eleventh_passing_math_percent=(eleventh_passing_math/float(eleventh_total_students))*100
eleventh_passing_reading=eleventh_school[(eleventh_school["reading_score"]>=70)].count()["student_name"]
eleventh_passing_reading_percent=(eleventh_passing_reading/float(eleventh_total_students))*100
eleventh_overall_count=eleventh_school[(eleventh_school['math_score']>=70)&(eleventh_school['reading_score']>=70)].count()["student_name"]
eleventh_overall_percent=(eleventh_overall_count/float(eleventh_total_students))*100

In [26]:
twelfth_school=school_stats.loc[school_stats["school_name"]==school_df["school_name"][11],:]
twelfth_school
twelfth_total_students=len(twelfth_school['student_name'])
twelfth_student_budget=float((twelfth_school["budget"].mean())/twelfth_total_students)
twelfth_math_average=(twelfth_school["math_score"].sum())/twelfth_total_students
twelfth_reading_average=(twelfth_school["reading_score"].sum())/(twelfth_total_students)
twelfth_passing_math=twelfth_school[(twelfth_school["math_score"]>=70)].count()["student_name"]
twelfth_passing_math_percent=(twelfth_passing_math/float(twelfth_total_students))*100
twelfth_passing_reading=twelfth_school[(twelfth_school["reading_score"]>=70)].count()["student_name"]
twelfth_passing_reading_percent=(twelfth_passing_reading/float(twelfth_total_students))*100
twelfth_overall_count=twelfth_school[(twelfth_school['math_score']>=70)&(twelfth_school['reading_score']>=70)].count()["student_name"]
twelfth_overall_percent=(twelfth_overall_count/float(twelfth_total_students))*100

In [27]:
thirteenth_school=school_stats.loc[school_stats["school_name"]==school_df["school_name"][12],:]
thirteenth_school
thirteenth_total_students=len(thirteenth_school['student_name'])
thirteenth_student_budget=float((thirteenth_school["budget"].mean())/thirteenth_total_students)
thirteenth_math_average=(thirteenth_school["math_score"].sum())/thirteenth_total_students
thirteenth_reading_average=(thirteenth_school["reading_score"].sum())/(thirteenth_total_students)
thirteenth_passing_math=thirteenth_school[(thirteenth_school["math_score"]>=70)].count()["student_name"]
thirteenth_passing_math_percent=(thirteenth_passing_math/float(thirteenth_total_students))*100
thirteenth_passing_reading=thirteenth_school[(thirteenth_school["reading_score"]>=70)].count()["student_name"]
thirteenth_passing_reading_percent=(thirteenth_passing_reading/float(thirteenth_total_students))*100
thirteenth_overall_count=thirteenth_school[(thirteenth_school['math_score']>=70)&(thirteenth_school['reading_score']>=70)].count()["student_name"]
thirteenth_overall_percent=(thirteenth_overall_count/float(thirteenth_total_students))*100

In [28]:
fourteenth_school=school_stats.loc[school_stats["school_name"]==school_df["school_name"][13],:]
fourteenth_school
fourteenth_total_students=len(fourteenth_school['student_name'])
fourteenth_student_budget=float((fourteenth_school["budget"].mean())/fourteenth_total_students)
fourteenth_math_average=(fourteenth_school["math_score"].sum())/fourteenth_total_students
fourteenth_reading_average=(fourteenth_school["reading_score"].sum())/(fourteenth_total_students)
fourteenth_passing_math=fourteenth_school[(fourteenth_school["math_score"]>=70)].count()["student_name"]
fourteenth_passing_math_percent=(fourteenth_passing_math/float(fourteenth_total_students))*100
fourteenth_passing_reading=fourteenth_school[(fourteenth_school["reading_score"]>=70)].count()["student_name"]
fourteenth_passing_reading_percent=(fourteenth_passing_reading/float(fourteenth_total_students))*100
fourteenth_overall_count=fourteenth_school[(fourteenth_school['math_score']>=70)&(fourteenth_school['reading_score']>=70)].count()["student_name"]
fourteenth_overall_percent=(fourteenth_overall_count/float(fourteenth_total_students))*100

In [29]:
fifteenth_school=school_stats.loc[school_stats["school_name"]==school_df["school_name"][14],:]
fifteenth_school
fifteenth_total_students=len(fifteenth_school['student_name'])
fifteenth_student_budget=float((fifteenth_school["budget"].mean())/fifteenth_total_students)
fifteenth_math_average=(fifteenth_school["math_score"].sum())/fifteenth_total_students
fifteenth_reading_average=(fifteenth_school["reading_score"].sum())/(fifteenth_total_students)
fifteenth_passing_math=fifteenth_school[(fifteenth_school["math_score"]>=70)].count()["student_name"]
fifteenth_passing_math_percent=(fifteenth_passing_math/float(fifteenth_total_students))*100
fifteenth_passing_reading=fifteenth_school[(fifteenth_school["reading_score"]>=70)].count()["student_name"]
fifteenth_passing_reading_percent=(fifteenth_passing_reading/float(fifteenth_total_students))*100
fifteenth_overall_count=fifteenth_school[(fifteenth_school['math_score']>=70)&(fifteenth_school['reading_score']>=70)].count()["student_name"]
fifteenth_overall_percent=(fifteenth_overall_count/float(fifteenth_total_students))*100

In [65]:
school_summary=pd.DataFrame([{"School Name":school_df["school_name"][0],"School Type":school_df["type"][0],"Total Students":first_total_students,
                              "Total School Budget":float(first_school["budget"].mean()),"Per Student Budget":first_student_budget,
                              "Average Math Score":first_math_average,"Average Reading Score":first_reading_average,
                              "% Passing Math":first_passing_math_percent,"% Passing Reading":first_passing_reading_percent,"% Overall Passing":first_overall_percent},
                              {"School Name":school_df["school_name"][1],"School Type":school_df["type"][1],"Total Students":second_total_students,
                              "Total School Budget":float(second_school["budget"].mean()),"Per Student Budget":second_student_budget,
                              "Average Math Score":second_math_average,"Average Reading Score":second_reading_average,
                              "% Passing Math":second_passing_math_percent,"% Passing Reading":second_passing_reading_percent,"% Overall Passing":second_overall_percent},
                              {"School Name":school_df["school_name"][2],"School Type":school_df["type"][2],"Total Students":third_total_students,
                              "Total School Budget":float(third_school["budget"].mean()),"Per Student Budget":third_student_budget,
                              "Average Math Score":third_math_average,"Average Reading Score":third_reading_average,
                              "% Passing Math":third_passing_math_percent,"% Passing Reading":third_passing_reading_percent,"% Overall Passing":third_overall_percent},
                              {"School Name":school_df["school_name"][3],"School Type":school_df["type"][3],"Total Students":fourth_total_students,
                              "Total School Budget":float(fourth_school["budget"].mean()),"Per Student Budget":fourth_student_budget,
                              "Average Math Score":fourth_math_average,"Average Reading Score":fourth_reading_average,
                              "% Passing Math":fourth_passing_math_percent,"% Passing Reading":fourth_passing_reading_percent,"% Overall Passing":fourth_overall_percent},
                              {"School Name":school_df["school_name"][4],"School Type":school_df["type"][4],"Total Students":fifth_total_students,
                              "Total School Budget":float(fifth_school["budget"].mean()),"Per Student Budget":fifth_student_budget,
                              "Average Math Score":fifth_math_average,"Average Reading Score":fifth_reading_average,
                              "% Passing Math":fifth_passing_math_percent,"% Passing Reading":fifth_passing_reading_percent,"% Overall Passing":fifth_overall_percent},
                              {"School Name":school_df["school_name"][5],"School Type":school_df["type"][5],"Total Students":sixth_total_students,
                              "Total School Budget":float(sixth_school["budget"].mean()),"Per Student Budget":sixth_student_budget,
                              "Average Math Score":sixth_math_average,"Average Reading Score":sixth_reading_average,
                              "% Passing Math":sixth_passing_math_percent,"% Passing Reading":sixth_passing_reading_percent,"% Overall Passing":sixth_overall_percent},
                              {"School Name":school_df["school_name"][6],"School Type":school_df["type"][6],"Total Students":seventh_total_students,
                              "Total School Budget":float(seventh_school["budget"].mean()),"Per Student Budget":seventh_student_budget,
                              "Average Math Score":seventh_math_average,"Average Reading Score":seventh_reading_average,
                              "% Passing Math":seventh_passing_math_percent,"% Passing Reading":seventh_passing_reading_percent,"% Overall Passing":seventh_overall_percent},
                              {"School Name":school_df["school_name"][7],"School Type":school_df["type"][7],"Total Students":eighth_total_students,
                              "Total School Budget":float(eighth_school["budget"].mean()),"Per Student Budget":eighth_student_budget,
                              "Average Math Score":eighth_math_average,"Average Reading Score":eighth_reading_average,
                              "% Passing Math":eighth_passing_math_percent,"% Passing Reading":eighth_passing_reading_percent,"% Overall Passing":eighth_overall_percent},
                              {"School Name":school_df["school_name"][8],"School Type":school_df["type"][8],"Total Students":ninth_total_students,
                              "Total School Budget":float(ninth_school["budget"].mean()),"Per Student Budget":ninth_student_budget,
                              "Average Math Score":ninth_math_average,"Average Reading Score":ninth_reading_average,
                              "% Passing Math":ninth_passing_math_percent,"% Passing Reading":ninth_passing_reading_percent,"% Overall Passing":ninth_overall_percent},
                              {"School Name":school_df["school_name"][9],"School Type":school_df["type"][9],"Total Students":tenth_total_students,
                              "Total School Budget":float(tenth_school["budget"].mean()),"Per Student Budget":tenth_student_budget,
                              "Average Math Score":tenth_math_average,"Average Reading Score":tenth_reading_average,
                              "% Passing Math":tenth_passing_math_percent,"% Passing Reading":tenth_passing_reading_percent,"% Overall Passing":tenth_overall_percent},
                              {"School Name":school_df["school_name"][10],"School Type":school_df["type"][10],"Total Students":eleventh_total_students,
                              "Total School Budget":float(eleventh_school["budget"].mean()),"Per Student Budget":eleventh_student_budget,
                              "Average Math Score":eleventh_math_average,"Average Reading Score":eleventh_reading_average,
                              "% Passing Math":eleventh_passing_math_percent,"% Passing Reading":eleventh_passing_reading_percent,"% Overall Passing":eleventh_overall_percent},
                              {"School Name":school_df["school_name"][11],"School Type":school_df["type"][11],"Total Students":twelfth_total_students,
                              "Total School Budget":float(twelfth_school["budget"].mean()),"Per Student Budget":twelfth_student_budget,
                              "Average Math Score":twelfth_math_average,"Average Reading Score":twelfth_reading_average,
                              "% Passing Math":twelfth_passing_math_percent,"% Passing Reading":twelfth_passing_reading_percent,"% Overall Passing":twelfth_overall_percent},
                              {"School Name":school_df["school_name"][12],"School Type":school_df["type"][12],"Total Students":thirteenth_total_students,
                              "Total School Budget":float(thirteenth_school["budget"].mean()),"Per Student Budget":thirteenth_student_budget,
                              "Average Math Score":thirteenth_math_average,"Average Reading Score":thirteenth_reading_average,
                              "% Passing Math":thirteenth_passing_math_percent,"% Passing Reading":thirteenth_passing_reading_percent,"% Overall Passing":thirteenth_overall_percent},
                              {"School Name":school_df["school_name"][13],"School Type":school_df["type"][13],"Total Students":fourteenth_total_students,
                              "Total School Budget":float(fourteenth_school["budget"].mean()),"Per Student Budget":fourteenth_student_budget,
                              "Average Math Score":fourteenth_math_average,"Average Reading Score":fourteenth_reading_average,
                              "% Passing Math":fourteenth_passing_math_percent,"% Passing Reading":fourteenth_passing_reading_percent,"% Overall Passing":fourteenth_overall_percent},
                              {"School Name":school_df["school_name"][14],"School Type":school_df["type"][14],"Total Students":fifteenth_total_students,
                              "Total School Budget":float(fifteenth_school["budget"].mean()),"Per Student Budget":fifteenth_student_budget,
                              "Average Math Score":fifteenth_math_average,"Average Reading Score":fifteenth_reading_average,
                              "% Passing Math":fifteenth_passing_math_percent,"% Passing Reading":fifteenth_passing_reading_percent,"% Overall Passing":fifteenth_overall_percent}])
school_summary

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
1,Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
2,Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
3,Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
4,Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
5,Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
6,Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
7,Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
8,Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
9,Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
10,Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333
11,Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
12,Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
13,Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
14,Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012

In [66]:
per_school_summary=school_summary.copy()
per_school_summary["Total School Budget"]=school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"]=school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"]=school_summary["Average Math Score"].map("{:,.2f}%".format)
per_school_summary["Average Reading Score"]=school_summary["Average Reading Score"].map("{:,.2f}%".format)
per_school_summary["% Passing Math"]=school_summary["% Passing Math"].map("{:,.2f}%".format)
per_school_summary["% Passing Reading"]=school_summary["% Passing Reading"].map("{:,.2f}%".format)
per_school_summary["% Overall Passing"]=school_summary["% Overall Passing"].map("{:,.2f}%".format)
per_school_summary

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,District,2917,"$1,910,635.00",$655.00,76.63%,81.18%,65.68%,81.32%,53.51%
1,Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71%,81.16%,65.99%,80.74%,53.20%
2,Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36%,83.73%,93.87%,95.85%,89.89%
3,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29%,80.93%,66.75%,80.86%,53.53%
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35%,83.82%,93.39%,97.14%,90.60%
5,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27%,83.99%,93.87%,96.54%,90.58%
6,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06%,83.98%,94.13%,97.04%,91.33%
7,Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05%,81.03%,66.68%,81.93%,54.64%
8,Holden High School,Charter,427,"$248,087.00",$581.00,83.80%,83.81%,92.51%,96.25%,89.23%
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.84%,84.04%,94.59%,95.95%,90.54%
10,Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68%,83.95%,93.33%,96.61%,90.33%
11,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84%,80.74%,66.37%,80.22%,52.99%
12,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07%,80.97%,66.06%,81.22%,53.54%
13,Ford High School,District,2739,"$1,763,916.00",$644.00,77.10%,80.75%,68.31%,79.30%,54.29%
14,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42%,83.85%,93.27%,97.31%,90.95%

In [33]:
top_schools=per_school_summary.sort_values(by='% Overall Passing',ascending=False)
top_schools.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
6,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06%,83.98%,94.13%,97.04%,91.33%
14,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42%,83.85%,93.27%,97.31%,90.95%
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35%,83.82%,93.39%,97.14%,90.60%
5,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27%,83.99%,93.87%,96.54%,90.58%
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.84%,84.04%,94.59%,95.95%,90.54%

In [34]:
bottom_schools=per_school_summary.sort_values(by='% Overall Passing')
bottom_schools.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
11,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84%,80.74%,66.37%,80.22%,52.99%
1,Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71%,81.16%,65.99%,80.74%,53.20%
0,Huang High School,District,2917,"$1,910,635.00",$655.00,76.63%,81.18%,65.68%,81.32%,53.51%
3,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29%,80.93%,66.75%,80.86%,53.53%
12,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07%,80.97%,66.06%,81.22%,53.54%

In [38]:
ninth_graders=school_stats[(school_stats['grade']=='9th')]
tenth_graders=school_stats[(school_stats['grade']=='10th')]
eleventh_graders=school_stats[(school_stats['grade']=='11th')]
twelfth_graders=school_stats[(school_stats['grade']=='12th')]

In [41]:
#groupby
ninth_grade_math_scores=ninth_graders.groupby('school_name')['math_score'].mean()
tenth_grade_math_scores=tenth_graders.groupby('school_name')['math_score'].mean()
eleventh_grade_math_scores=eleventh_graders.groupby('school_name')['math_score'].mean()
twelfth_grade_math_scores=twelfth_graders.groupby('school_name')['math_score'].mean()
twelfth_grade_math_scores.head()

school_name
Bailey High School      76.492218
Cabrera High School     83.277487
Figueroa High School    77.151369
Ford High School        76.179963
Griffin High School     83.356164
Name: math_score, dtype: float64

In [46]:
math_scores_by_grade=pd.DataFrame({"9th": ninth_grade_math_scores,
                                   "10th":tenth_grade_math_scores,
                                   "11th":eleventh_grade_math_scores,
                                   "12th":twelfth_grade_math_scores})

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [47]:
math_scores_by_grade.index.name = None
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [48]:
ninth_grade_reading_scores=ninth_graders.groupby('school_name')['reading_score'].mean()
tenth_grade_reading_scores=tenth_graders.groupby('school_name')['reading_score'].mean()
eleventh_grade_reading_scores=eleventh_graders.groupby('school_name')['reading_score'].mean()
twelfth_grade_reading_scores=twelfth_graders.groupby('school_name')['reading_score'].mean()
twelfth_grade_reading_scores.head()

reading_scores_by_grade=pd.DataFrame({"9th": ninth_grade_reading_scores,
                                   "10th":tenth_grade_reading_scores,
                                   "11th":eleventh_grade_reading_scores,
                                   "12th":twelfth_grade_reading_scores})

reading_scores_by_grade.index.name = None
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [62]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [67]:
school_spending_df = school_summary.copy()

In [68]:
school_spending_df["Spending Ranges (Per Student)"] =pd.cut(school_spending_df['Per Student Budget'],spending_bins,labels)

In [69]:
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [79]:
spending_summary=pd.DataFrame({"Average Math Score":spending_math_scores,
                   "Average Reading Score":spending_reading_scores,
                   "% Passing Math":spending_passing_math,
                   "% Passing Reading":spending_passing_reading,
                   "% Overall Passing":overall_passing_spending})
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
"(0, 585]",83.455399,83.933814,93.460096,96.610877,90.369459
"(585, 630]",81.899826,83.155286,87.133538,92.718205,81.418596
"(630, 645]",78.518855,81.624473,73.484209,84.391793,62.857656
"(645, 680]",76.997210,81.027843,66.164813,81.133951,53.526855

In [85]:
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
school_size_df = school_summary.copy()

In [86]:
school_size_df["School Size"] =pd.cut(school_size_df['Total Students'],size_bins,labels=labels)
size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
overall_passing_size = school_size_df.groupby(["School Size"])["% Overall Passing"].mean()

In [87]:
size_summary=pd.DataFrame({"Average Math Score":size_math_scores,
                   "Average Reading Score":size_reading_scores,
                   "% Passing Math":size_passing_math,
                   "% Passing Reading":size_passing_reading,
                   "% Overall Passing":overall_passing_size})
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [95]:
school_type=school_summary.groupby("School Type").mean()
type_summary=school_type[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing"]]
type_summary

C:\Users\Sami\AppData\Local\Temp\ipykernel_10184\3955379067.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  school_type=school_summary.groupby("School Type").mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208