In [1]:
#Import dependencies.
import pandas as pd
from pathlib import Path

In [2]:
#Set up the file paths
school_path=Path("Resources/schools_complete.csv")
student_path=Path("Resources/students_complete.csv")

In [6]:
#Read in files
school_df=pd.read_csv(school_path)
student_df=pd.read_csv(student_path)
student_df.head()
school_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [22]:
#Merge the two datasets. Figure out if left or right or outer merge is best
school_stats=pd.merge(school_df,student_df, on="school_name", how="left")
school_stats.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [23]:
school_stats["school_name"].unique()
school_stats["student_name"].unique()
school_stats["school_name"].unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [31]:
#Set up variables to store: total school budget, total students, per student budget, average math score, average reading score, %passing math, %passing reading,%overall passing(math and reading)
individual_school_budget=school_stats["budget"].unique()
total_district_budget=individual_school_budget.sum()
total_students=school_stats["student_name"].count()
total_schools=len(school_stats["school_name"].unique())
print('Total District Budget: ',total_district_budget)
print('Total Number of Students: ',total_students)
print('Total Number of Schools: ',total_schools)

Total District Budget:  24649428
Total Number of Students:  39170
Total Number of Schools:  15

In [27]:
#sum of math scores divided by the number of students, but might need to check if there are blank values.
math_average=(school_stats["math_score"].sum())/total_students
math_average

78.98537145774827

In [28]:
reading_average=(school_stats["reading_score"].sum())/(total_students)
reading_average

81.87784018381414

In [38]:
#Passing math score is 70%
passing_math=school_stats[(school_stats["math_score"]>=70)].count()["student_name"]
passing_math
passing_math_percent=(passing_math/float(total_students))*100
passing_math_percent

74.9808526933878

In [41]:
passing_reading=school_stats[(school_stats["reading_score"]>=70)].count()["student_name"]
passing_reading_percent=(passing_reading/float(total_students))*100
passing_reading_percent

85.80546336482001

In [44]:
passing_math_reading_count=school_stats[(school_stats['math_score']>=70)&(school_stats['reading_score']>=70)].count()["student_name"]
passing_math_reading_count
passing_math_reading_percent=(passing_math_reading_count/float(total_students))*100
passing_math_reading_percent

65.17232575950983

In [50]:
district_summary=pd.DataFrame([{"Total Number of Schools":total_schools,"Total Students":total_students,"Total Budget":total_district_budget,"Average Math Score":math_average,"Average Reading Score":reading_average,"% Passing Math":passing_math_percent,"% Passing Reading":passing_reading_percent,"Overall Passing":passing_math_reading_percent}])
district_summary["Total Students"]=district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"]=district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"]=district_summary["Average Math Score"].map("{:,.2f}%".format)
district_summary["Average Reading Score"]=district_summary["Average Reading Score"].map("{:,.2f}%".format)
district_summary["% Passing Math"]=district_summary["% Passing Math"].map("{:,.2f}%".format)
district_summary["% Passing Reading"]=district_summary["% Passing Reading"].map("{:,.2f}%".format)
district_summary["Overall Passing"]=district_summary["Overall Passing"].map("{:,.2f}%".format)
district_summary

,Total Number of Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing
0,15,"39,170","$24,649,428.00",78.99%,81.88%,74.98%,85.81%,65.17%

In [66]:
#On to the school part
first_school=school_stats.loc[school_stats["school_name"]=="Huang High School",:]
first_school
first_total_students=len(first_school['student_name'])
first_student_budget=(first_school["budget"].mean())/first_total_students
first_math_average=(first_school["math_score"].sum())/first_total_students
first_reading_average=(first_school["reading_score"].sum())/(first_total_students)
first_passing_math=first_school[(first_school["math_score"]>=70)].count()["student_name"]
first_passing_math_percent=(first_passing_math/float(first_total_students))*100
first_passing_reading=first_school[(first_school["reading_score"]>=70)].count()["student_name"]
first_passing_reading_percent=(first_passing_reading/float(first_total_students))*100
first_overall_count=first_school[(first_school['math_score']>=70)&(first_school['reading_score']>=70)].count()["student_name"]
first_overall_percent=(first_overall_count/float(first_total_students))*100

In [69]:
second_school=school_stats.loc[school_stats["school_name"]=="Figueroa High School",:]
second_school
second_total_students=len(second_school['student_name'])
second_student_budget=(second_school["budget"].mean())/second_total_students
second_math_average=(second_school["math_score"].sum())/second_total_students
second_reading_average=(second_school["reading_score"].sum())/(second_total_students)
second_passing_math=second_school[(second_school["math_score"]>=70)].count()["student_name"]
second_passing_math_percent=(second_passing_math/float(second_total_students))*100
second_passing_reading=second_school[(second_school["reading_score"]>=70)].count()["student_name"]
second_passing_reading_percent=(second_passing_reading/float(second_total_students))*100
second_overall_count=second_school[(second_school['math_score']>=70)&(second_school['reading_score']>=70)].count()["student_name"]
second_overall_percent=(second_overall_count/float(second_total_students))*100
second_school

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
2917,1,Figueroa High School,District,2949,1884411,2917,Amy Jacobs,F,10th,85,87
2918,1,Figueroa High School,District,2949,1884411,2918,Nathan Campbell,M,12th,97,84
2919,1,Figueroa High School,District,2949,1884411,2919,Randall Stewart,M,12th,67,77
2920,1,Figueroa High School,District,2949,1884411,2920,Jennifer Brown,F,9th,97,64
2921,1,Figueroa High School,District,2949,1884411,2921,Denise Lopez,F,10th,79,64
...,...,...,...,...,...,...,...,...,...,...,...
5861,1,Figueroa High School,District,2949,1884411,5861,April Sullivan,F,9th,81,92
5862,1,Figueroa High School,District,2949,1884411,5862,Jessica Mccann,F,11th,99,66
5863,1,Figueroa High School,District,2949,1884411,5863,Charles Walker,M,11th,98,64
5864,1,Figueroa High School,District,2949,1884411,5864,Tammy Burns,F,9th,91,83
5865,1,Figueroa High School,District,2949,1884411,5865,Ricky Harrison,M,10th,99,65

In [67]:
third_school=school_stats.loc[school_stats["school_name"]=="Shelton High School",:]
third_school
third_total_students=len(third_school['student_name'])
third_student_budget=(third_school["budget"].mean())/third_total_students
third_math_average=(third_school["math_score"].sum())/third_total_students
third_reading_average=(third_school["reading_score"].sum())/(third_total_students)
third_passing_math=third_school[(third_school["math_score"]>=70)].count()["student_name"]
third_passing_math_percent=(third_passing_math/float(third_total_students))*100
third_passing_reading=third_school[(third_school["reading_score"]>=70)].count()["student_name"]
third_passing_reading_percent=(third_passing_reading/float(third_total_students))*100
third_overall_count=third_school[(third_school['math_score']>=70)&(third_school['reading_score']>=70)].count()["student_name"]
third_overall_percent=(third_overall_count/float(third_total_students))*100

In [ ]:
fourth_school=school_stats.loc[school_stats["school_name"]=="Hernandez High School",:]
fourth_school
fourth_total_students=len(fourth_school['student_name'])
fourth_student_budget=(fourth_school["budget"].mean())/fourth_total_students
fourth_math_average=(fourth_school["math_score"].sum())/fourth_total_students
fourth_reading_average=(fourth_school["reading_score"].sum())/(fourth_total_students)
fourth_passing_math=fourth_school[(fourth_school["math_score"]>=70)].count()["student_name"]
fourth_passing_math_percent=(fourth_passing_math/float(fourth_total_students))*100
fourth_passing_reading=fourth_school[(fourth_school["reading_score"]>=70)].count()["student_name"]
fourth_passing_reading_percent=(fourth_passing_reading/float(fourth_total_students))*100
fourth_overall_count=fourth_school[(fourth_school['math_score']>=70)&(fourth_school['reading_score']>=70)].count()["student_name"]
fourth_overall_percent=(fourth_overall_count/float(fourth_total_students))*100

In [70]:
fifth_school=school_stats.loc[school_stats["school_name"]=="Griffin High School",:]
fifth_school
fifth_total_students=len(fifth_school['student_name'])
fifth_student_budget=(fifth_school["budget"].mean())/fifth_total_students
fifth_math_average=(fifth_school["math_score"].sum())/fifth_total_students
fifth_reading_average=(fifth_school["reading_score"].sum())/(fifth_total_students)
fifth_passing_math=fifth_school[(fifth_school["math_score"]>=70)].count()["student_name"]
fifth_passing_math_percent=(fifth_passing_math/float(fifth_total_students))*100
fifth_passing_reading=fifth_school[(fifth_school["reading_score"]>=70)].count()["student_name"]
fifth_passing_reading_percent=(fifth_passing_reading/float(fifth_total_students))*100
fifth_overall_count=fifth_school[(fifth_school['math_score']>=70)&(fifth_school['reading_score']>=70)].count()["student_name"]
fifth_overall_percent=(fifth_overall_count/float(fifth_total_students))*100

In [71]:
sixth_school=school_stats.loc[school_stats["school_name"]=="Wilson High School",:]
sixth_school
sixth_total_students=len(sixth_school['student_name'])
sixth_student_budget=(sixth_school["budget"].mean())/sixth_total_students
sixth_math_average=(sixth_school["math_score"].sum())/sixth_total_students
sixth_reading_average=(sixth_school["reading_score"].sum())/(sixth_total_students)
sixth_passing_math=sixth_school[(sixth_school["math_score"]>=70)].count()["student_name"]
sixth_passing_math_percent=(sixth_passing_math/float(sixth_total_students))*100
sixth_passing_reading=sixth_school[(sixth_school["reading_score"]>=70)].count()["student_name"]
sixth_passing_reading_percent=(sixth_passing_reading/float(sixth_total_students))*100
sixth_overall_count=sixth_school[(sixth_school['math_score']>=70)&(sixth_school['reading_score']>=70)].count()["student_name"]
sixth_overall_percent=(sixth_overall_count/float(sixth_total_students))*100

In [72]:
seventh_school=school_stats.loc[school_stats["school_name"]=="Cabrera High School",:]
seventh_school
seventh_total_students=len(seventh_school['student_name'])
seventh_student_budget=(seventh_school["budget"].mean())/seventh_total_students
seventh_math_average=(seventh_school["math_score"].sum())/seventh_total_students
seventh_reading_average=(seventh_school["reading_score"].sum())/(seventh_total_students)
seventh_passing_math=seventh_school[(seventh_school["math_score"]>=70)].count()["student_name"]
seventh_passing_math_percent=(seventh_passing_math/float(seventh_total_students))*100
seventh_passing_reading=seventh_school[(seventh_school["reading_score"]>=70)].count()["student_name"]
seventh_passing_reading_percent=(seventh_passing_reading/float(seventh_total_students))*100
seventh_overall_count=seventh_school[(seventh_school['math_score']>=70)&(seventh_school['reading_score']>=70)].count()["student_name"]
seventh_overall_percent=(seventh_overall_count/float(seventh_total_students))*100

In [ ]:
eighth_school=school_stats.loc[school_stats["school_name"]=="Bailey High School",:]
eighth_school
eighth_total_students=len(eighth_school['student_name'])
eighth_student_budget=(eighth_school["budget"].mean())/eighth_total_students
eighth_math_average=(eighth_school["math_score"].sum())/eighth_total_students
eighth_reading_average=(eighth_school["reading_score"].sum())/(eighth_total_students)
eighth_passing_math=eighth_school[(eighth_school["math_score"]>=70)].count()["student_name"]
eighth_passing_math_percent=(eighth_passing_math/float(eighth_total_students))*100
eighth_passing_reading=eighth_school[(eighth_school["reading_score"]>=70)].count()["student_name"]
eighth_passing_reading_percent=(eighth_passing_reading/float(eighth_total_students))*100
eighth_overall_count=eighth_school[(eighth_school['math_score']>=70)&(eighth_school['reading_score']>=70)].count()["student_name"]
eighth_overall_percent=(eighth_overall_count/float(eighth_total_students))*100

In [ ]:
ninth_school=school_stats.loc[school_stats["school_name"]=="Holden High School",:]
ninth_school
ninth_total_students=len(ninth_school['student_name'])
ninth_student_budget=(ninth_school["budget"].mean())/ninth_total_students
ninth_math_average=(ninth_school["math_score"].sum())/ninth_total_students
ninth_reading_average=(ninth_school["reading_score"].sum())/(ninth_total_students)
ninth_passing_math=ninth_school[(ninth_school["math_score"]>=70)].count()["student_name"]
ninth_passing_math_percent=(ninth_passing_math/float(ninth_total_students))*100
ninth_passing_reading=ninth_school[(ninth_school["reading_score"]>=70)].count()["student_name"]
ninth_passing_reading_percent=(ninth_passing_reading/float(ninth_total_students))*100
ninth_overall_count=ninth_school[(ninth_school['math_score']>=70)&(ninth_school['reading_score']>=70)].count()["student_name"]
ninth_overall_percent=(ninth_overall_count/float(ninth_total_students))*100

In [ ]:
tenth_school=school_stats.loc[school_stats["school_name"]=="Pena High School",:]
tenth_school
tenth_total_students=len(tenth_school['student_name'])
tenth_student_budget=(tenth_school["budget"].mean())/tenth_total_students
tenth_math_average=(tenth_school["math_score"].sum())/tenth_total_students
tenth_reading_average=(tenth_school["reading_score"].sum())/(tenth_total_students)
tenth_passing_math=tenth_school[(tenth_school["math_score"]>=70)].count()["student_name"]
tenth_passing_math_percent=(tenth_passing_math/float(tenth_total_students))*100
tenth_passing_reading=tenth_school[(tenth_school["reading_score"]>=70)].count()["student_name"]
tenth_passing_reading_percent=(tenth_passing_reading/float(tenth_total_students))*100
tenth_overall_count=tenth_school[(tenth_school['math_score']>=70)&(tenth_school['reading_score']>=70)].count()["student_name"]
tenth_overall_percent=(tenth_overall_count/float(tenth_total_students))*100

In [ ]:
eleventh_school=school_stats.loc[school_stats["school_name"]=="Wright High School",:]
eleventh_school
eleventh_total_students=len(eleventh_school['student_name'])
eleventh_student_budget=(eleventh_school["budget"].mean())/eleventh_total_students
eleventh_math_average=(eleventh_school["math_score"].sum())/eleventh_total_students
eleventh_reading_average=(eleventh_school["reading_score"].sum())/(eleventh_total_students)
eleventh_passing_math=eleventh_school[(eleventh_school["math_score"]>=70)].count()["student_name"]
eleventh_passing_math_percent=(eleventh_passing_math/float(eleventh_total_students))*100
eleventh_passing_reading=eleventh_school[(eleventh_school["reading_score"]>=70)].count()["student_name"]
eleventh_passing_reading_percent=(eleventh_passing_reading/float(eleventh_total_students))*100
eleventh_overall_count=eleventh_school[(eleventh_school['math_score']>=70)&(eleventh_school['reading_score']>=70)].count()["student_name"]
eleventh_overall_percent=(eleventh_overall_count/float(eleventh_total_students))*100

In [ ]:
twelfth_school=school_stats.loc[school_stats["school_name"]=="Rodriguez High School",:]
twelfth_school
twelfth_total_students=len(twelfth_school['student_name'])
twelfth_student_budget=(twelfth_school["budget"].mean())/twelfth_total_students
twelfth_math_average=(twelfth_school["math_score"].sum())/twelfth_total_students
twelfth_reading_average=(twelfth_school["reading_score"].sum())/(twelfth_total_students)
twelfth_passing_math=twelfth_school[(twelfth_school["math_score"]>=70)].count()["student_name"]
twelfth_passing_math_percent=(twelfth_passing_math/float(twelfth_total_students))*100
twelfth_passing_reading=twelfth_school[(twelfth_school["reading_score"]>=70)].count()["student_name"]
twelfth_passing_reading_percent=(twelfth_passing_reading/float(twelfth_total_students))*100
twelfth_overall_count=twelfth_school[(twelfth_school['math_score']>=70)&(twelfth_school['reading_score']>=70)].count()["student_name"]
twelfth_overall_percent=(twelfth_overall_count/float(twelfth_total_students))*100

In [ ]:
thirteenth_school=school_stats.loc[school_stats["school_name"]=="Johnson High School",:]
thirteenth_school
thirteenth_total_students=len(thirteenth_school['student_name'])
thirteenth_student_budget=(thirteenth_school["budget"].mean())/thirteenth_total_students
thirteenth_math_average=(thirteenth_school["math_score"].sum())/thirteenth_total_students
thirteenth_reading_average=(thirteenth_school["reading_score"].sum())/(thirteenth_total_students)
thirteenth_passing_math=thirteenth_school[(thirteenth_school["math_score"]>=70)].count()["student_name"]
thirteenth_passing_math_percent=(thirteenth_passing_math/float(thirteenth_total_students))*100
thirteenth_passing_reading=thirteenth_school[(thirteenth_school["reading_score"]>=70)].count()["student_name"]
thirteenth_passing_reading_percent=(thirteenth_passing_reading/float(thirteenth_total_students))*100
thirteenth_overall_count=thirteenth_school[(thirteenth_school['math_score']>=70)&(thirteenth_school['reading_score']>=70)].count()["student_name"]
thirteenth_overall_percent=(thirteenth_overall_count/float(thirteenth_total_students))*100

In [ ]:
fourteenth_school=school_stats.loc[school_stats["school_name"]=="Ford High School",:]
fourteenth_school
fourteenth_total_students=len(fourteenth_school['student_name'])
fourteenth_student_budget=(fourteenth_school["budget"].mean())/fourteenth_total_students
fourteenth_math_average=(fourteenth_school["math_score"].sum())/fourteenth_total_students
fourteenth_reading_average=(fourteenth_school["reading_score"].sum())/(fourteenth_total_students)
fourteenth_passing_math=fourteenth_school[(fourteenth_school["math_score"]>=70)].count()["student_name"]
fourteenth_passing_math_percent=(fourteenth_passing_math/float(fourteenth_total_students))*100
fourteenth_passing_reading=fourteenth_school[(fourteenth_school["reading_score"]>=70)].count()["student_name"]
fourteenth_passing_reading_percent=(fourteenth_passing_reading/float(fourteenth_total_students))*100
fourteenth_overall_count=fourteenth_school[(fourteenth_school['math_score']>=70)&(fourteenth_school['reading_score']>=70)].count()["student_name"]
fourteenth_overall_percent=(fourteenth_overall_count/float(fourteenth_total_students))*100

In [59]:
fifteenth_school=school_stats.loc[school_stats["school_name"]=="Thomas High School",:]
fifteenth_school
fifteenth_total_students=len(fifteenth_school['student_name'])
fifteenth_student_budget=(fifteenth_school["budget"].mean())/fifteenth_total_students
fifteenth_math_average=(fifteenth_school["math_score"].sum())/fifteenth_total_students
fifteenth_reading_average=(fifteenth_school["reading_score"].sum())/(fifteenth_total_students)
fifteenth_passing_math=fifteenth_school[(fifteenth_school["math_score"]>=70)].count()["student_name"]
fifteenth_passing_math_percent=(fifteenth_passing_math/float(fifteenth_total_students))*100
fifteenth_passing_reading=fifteenth_school[(fifteenth_school["reading_score"]>=70)].count()["student_name"]
fifteenth_passing_reading_percent=(fifteenth_passing_reading/float(fifteenth_total_students))*100
fifteenth_overall_count=fifteenth_school[(fifteenth_school['math_score']>=70)&(fifteenth_school['reading_score']>=70)].count()["student_name"]
fifteenth_overall_percent=(fifteenth_overall_count/float(fifteenth_total_students))*100

655.0

In [60]:
schools_summary=pd.DataFrame([{"School Name":first_school["school_name"][1],"School Type":first_school["type"][1],"Total Students":first_total_students,
                              "Total School Budget":first_school["budget"].mean(),"Per Student Budget":first_student_budget,
                              "Average Math Score":first_math_average,"Average Reading Score":first_reading_average,
                              "% Passing Math":first_passing_math_percent,"% Passing Reading":first_passing_reading_percent,"% Overall Passing":first_overall_percent},
                              ])
schools_summary

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,875.145698