In [1]:
#Import dependencies.
import pandas as pd
from pathlib import Path

In [2]:
#Set up the file paths
school_path=Path("Resources/schools_complete.csv")
student_path=Path("Resources/students_complete.csv")

In [6]:
#Read in files
school_df=pd.read_csv(school_path)
student_df=pd.read_csv(student_path)
student_df.head()
school_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [22]:
#Merge the two datasets. Figure out if left or right or outer merge is best
school_stats=pd.merge(school_df,student_df, on="school_name", how="left")
school_stats.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [23]:
school_stats["school_name"].unique()
school_stats["student_name"].unique()
school_stats["school_name"].unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [31]:
#Set up variables to store: total school budget, total students, per student budget, average math score, average reading score, %passing math, %passing reading,%overall passing(math and reading)
individual_school_budget=school_stats["budget"].unique()
total_district_budget=individual_school_budget.sum()
total_students=school_stats["student_name"].count()
total_schools=len(school_stats["school_name"].unique())
print('Total District Budget: ',total_district_budget)
print('Total Number of Students: ',total_students)
print('Total Number of Schools: ',total_schools)

Total District Budget:  24649428
Total Number of Students:  39170
Total Number of Schools:  15

In [27]:
#sum of math scores divided by the number of students, but might need to check if there are blank values.
math_average=(school_stats["math_score"].sum())/total_students
math_average

78.98537145774827

In [28]:
reading_average=(school_stats["reading_score"].sum())/(total_students)
reading_average

81.87784018381414

In [38]:
#Passing math score is 70%
passing_math=school_stats[(school_stats["math_score"]>=70)].count()["student_name"]
passing_math
passing_math_percent=(passing_math/float(total_students))*100
passing_math_percent

74.9808526933878

In [41]:
passing_reading=school_stats[(school_stats["reading_score"]>=70)].count()["student_name"]
passing_reading_percent=(passing_reading/float(total_students))*100
passing_reading_percent

85.80546336482001

In [44]:
passing_math_reading_count=school_stats[(school_stats['math_score']>=70)&(school_stats['reading_score']>=70)].count()["student_name"]
passing_math_reading_count
passing_math_reading_percent=(passing_math_reading_count/float(total_students))*100
passing_math_reading_percent

65.17232575950983

In [50]:
district_summary=pd.DataFrame([{"Total Number of Schools":total_schools,"Total Students":total_students,"Total Budget":total_district_budget,"Average Math Score":math_average,"Average Reading Score":reading_average,"% Passing Math":passing_math_percent,"% Passing Reading":passing_reading_percent,"Overall Passing":passing_math_reading_percent}])
district_summary["Total Students"]=district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"]=district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"]=district_summary["Average Math Score"].map("{:,.2f}%".format)
district_summary["Average Reading Score"]=district_summary["Average Reading Score"].map("{:,.2f}%".format)
district_summary["% Passing Math"]=district_summary["% Passing Math"].map("{:,.2f}%".format)
district_summary["% Passing Reading"]=district_summary["% Passing Reading"].map("{:,.2f}%".format)
district_summary["Overall Passing"]=district_summary["Overall Passing"].map("{:,.2f}%".format)
district_summary

,Total Number of Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing
0,15,"39,170","$24,649,428.00",78.99%,81.88%,74.98%,85.81%,65.17%

In [57]:
#On to the school part
first_school=school_stats.loc[school_stats["school_name"]=="Huang High School",:]
first_school
first_total_students=len(first_school['student_name'])
first_student_budget=(first_school["budget"][1])/first_total_students
first_math_average=(first_school["math_score"].sum())/first_total_students
first_reading_average=(first_school["reading_score"].sum())/(first_total_students)
first_passing_math=first_school[(first_school["math_score"]>=70)].count()["student_name"]
first_passing_math_percent=(first_passing_math/float(first_total_students))*100
first_passing_reading=first_school[(first_school["reading_score"]>=70)].count()["student_name"]
first_passing_reading_percent=(first_passing_reading/float(first_total_students))*100
first_overall_count=first_school[(first_school['math_score']>=70)&(first_school['reading_score']>=70)].count()["student_name"]
first_overall_percent=(passing_math_reading_count/float(first_total_students))*100

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
2912,0,Huang High School,District,2917,1910635,2912,Michael Combs,M,9th,98,95
2913,0,Huang High School,District,2917,1910635,2913,Monica Barajas,F,9th,64,81
2914,0,Huang High School,District,2917,1910635,2914,Carlos Garner,M,12th,66,73
2915,0,Huang High School,District,2917,1910635,2915,April Williams,F,12th,70,85
2916,0,Huang High School,District,2917,1910635,2916,Karen Blevins,F,10th,82,73

In [58]:
first_school=school_stats.loc[school_stats["school_name"]=="Huang High School",:]
first_school
first_total_students=len(first_school['student_name'])
first_student_budget=(first_school["budget"][1])/first_total_students
first_math_average=(first_school["math_score"].sum())/first_total_students
first_reading_average=(first_school["reading_score"].sum())/(first_total_students)
first_passing_math=first_school[(first_school["math_score"]>=70)].count()["student_name"]
first_passing_math_percent=(first_passing_math/float(first_total_students))*100
first_passing_reading=first_school[(first_school["reading_score"]>=70)].count()["student_name"]
first_passing_reading_percent=(first_passing_reading/float(first_total_students))*100
first_overall_count=first_school[(first_school['math_score']>=70)&(first_school['reading_score']>=70)].count()["student_name"]
first_overall_percent=(passing_math_reading_count/float(first_total_students))*100

2917

655.0

In [63]:
schools_summary=pd.DataFrame([{"School Name":first_school["school_name"][1],"School Type":first_school["type"][1],"Total Students":first_total_students,
                              "Total School Budget":first_school["budget"][1],"Per Student Budget":first_student_budget,
                              "Average Math Score":first_math_average,"Average Reading Score":first_reading_average,
                              "% Passing Math":first_passing_math_percent,"% Passing Reading":first_passing_reading_percent,"% Overall Passing":first_overall_percent}])
schools_summary

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,875.145698